@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Roboto+Mono&family=Share+Tech+Mono&family=Pacifico&family=Permanent+Marker&display=swap');
:root {
	--main-theme-color: #1df0de;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-family: 'Share Tech Mono', monospace;
}

body{
	overflow: hidden;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid transparent;
}

.canvas-wrap {
	position:fixed; 
	top:0; right:0; bottom:0; left:0;
    background-color: #1f1f24;
}
.canvas-wrap canvas { 
	position:absolute;
	top:0; left:0;
	z-index:0;
}

.navControl {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    bottom: 0vh; left: 35vw;
    background-color: transparent;
}

.controlsContainer {
	padding-top: 1vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.middleLine {
	height: 10px;
	width: 500px;
	border-top: 2px solid grey;
	border-radius: 3px;
}

.navControl h2 {
	font-family: 'Share Tech Mono', monospace;
	font-size: 29px;
	color: white;
	display: inline-block;
}

.textbox { 
    background-color: transparent !important;
	border: 2px solid var(--main-theme-color) !important;
	color: darkgrey !important;
    border-radius: 5px;
    outline: none;
	height:23px;
	width: 500px !important;
}

#audioSlider {
	width: 500px;
}

#audioTimer {
	padding-left: 310px;
	color: var(--main-theme-color);
	font-size: 30px;
	font-family: 'Share Tech Mono', monospace;
	letter-spacing: -3px;
}

.logoFor_Canvas {
	visibility: hidden;
	top: 50vh; left: 50vw;
	transform: translate(-50%,-50%);
}

.button {
	background-color: transparent;
	border: 2px solid var(--main-theme-color);
	border-radius: 4px;
	color: var(--main-theme-color);
	font-size: 21px;
	font-family: 'Share Tech Mono', monospace;
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
	outline: none !important;
}

.soundcloud {
	font-size: 40px;
	color: orange;
	margin-right: 5px;
}

#artwork {
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0;
	border: 2px solid var(--main-theme-color);
}

#artistname {
	color: white;
	position: absolute;
	top: 40px;
	left: 170px;
	font-size: 30px;
	font-family: 'Share Tech Mono', monospace;
}

#songname {
	color: white;
	position: absolute;
	top: 0px;
	left: 170px;
	font-size: 40px;
	font-family: 'Share Tech Mono', monospace;
}

/* List of search results */
.resultsContainer {
    bottom: 0vh; right: 0vw;
    position: absolute;
    background-color: #2a2a38;
    border-radius: 20px;
    width: 500px;
    height: 500px;
}

.resultsContainer ul {
    list-style-type: none;
    margin-top: 20px;
    width: 500px;
    height: 480px;
    overflow:hidden;
    overflow-y:scroll;
    color: white;
}

.resultsContainer h3 {
    font-family: 'Share Tech Mono', monospace, Helvetica, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.resultsContainer li img {
    float: left;
    margin: 0 15px 0 0;
    width: 150px;
    height: 150px;
}

.resultsContainer li p {
    font-family: 12px Georgia, serif;
}

.resultsContainer li {
    padding: 10px;
    margin-right: 15px;
    border-radius: 3px;
    height: 190px
}

.resultsContainer li:hover {
    background: rgba(0, 105, 204, 0.6);
    cursor: pointer;
}

input[type=range]{
    appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent !important;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 600px;
    height: 10px;
    background: transparent !important;
    border: none;
	border-radius: 3px;
	cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--main-theme-color);
	margin-top: -4px;
	cursor: pointer;
}

@media screen and (max-width: 1550px) {
    .navControl {
        left: 0vw;
    }
}

@media screen and (max-width: 1300px) {
    #artwork {
        top: 10%;
        left: 0%;
    }
    #artistname {
        top: 10%;
        left: 15%;
    }
    #songname {
        top: 15%;
        left: 15%;
    }
}

@media screen and (max-width: 1000px) {
    #artwork {
        visibility: hidden;
    }
    .resultsContainer {
        top: 40vh;
        left: 50vw;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 400px;
        height: 400px;
    }
    .resultsContainer li img {
        width: 100px;
        height: 100px;
    }
    .resultsContainer ul {
        width: 400px;
        height: 380px;
    }
    .resultsContainer li {
        height: 160px;
    }
}

@media screen and (max-width: 550px) {
	#audioTimer {
		padding-left: 70px;
	}
	#audioSlider {
		width: 300px;
    }
	.controlsContainer {
		justify-content: flex-start;
    }
    .textbox {
        width: 300px !important;
    }
	.middleLine {
		width: 300px;
	}
	.navControl h2 {
		font-size: 20px;
    }
}