@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Roboto+Mono&family=Share+Tech+Mono&family=Pacifico&family=Permanent+Marker&display=swap');
:root {
	--main-theme-color: #1df0de;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-family: 'Share Tech Mono', monospace;
}

body{
	overflow: hidden;
}

.canvas-wrap {
	position:fixed; 
	top:0; right:0; bottom:0; left:0; 
}
.canvas-wrap canvas { 
	position:absolute;
	top:0; left:0;
	z-index:0;
}

.navControl {
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100vw;
	min-height: 200px;
	max-height: 200px;
    bottom: 0; left: 0;
    background-color: transparent;
}

.controlsContainer {
	padding-top: 1vh;
	/* border: 2px solid white; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.middleLine {
	height: 10px;
	width: 500px;
	border-top: 2px solid grey;
	border-radius: 3px;
}

.navControl h2 {
	font-family: 'Share Tech Mono', monospace;
	font-size: 29px;
	color: white;
	display: inline-block;
}

.textbox { 
    background-color: transparent !important;
	border: 2px solid var(--main-theme-color) !important;
	color: darkgrey !important;
    border-radius: 5px;
    outline: none;
	height:23px;
	width: 500px !important;
}

#audioSlider {
	width: 500px;
}

#audioTimer {
	padding-left: 310px;
	color: var(--main-theme-color);
	font-size: 30px;
	font-family: 'Share Tech Mono', monospace;
	letter-spacing: -3px;
}

.logoFor_Canvas {
	visibility: hidden;
	top: 50vh; left: 50vw;
	transform: translate(-50%,-50%);
}

.button {
	background-color: transparent;
	border: 2px solid var(--main-theme-color);
	border-radius: 4px;
	color: var(--main-theme-color);
	font-size: 21px;
	font-family: 'Share Tech Mono', monospace;
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
	outline: none !important;
}

.soundcloud {
	font-size: 40px;
	color: orange;
	margin-right: 5px;
}

#artwork {
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0;
	border: 2px solid var(--main-theme-color);
}

#artistname {
	color: white;
	position: absolute;
	top: 40px;
	left: 170px;
	font-size: 30px;
	font-family: 'Share Tech Mono', monospace;
}

#songname {
	color: white;
	position: absolute;
	top: 0px;
	left: 170px;
	font-size: 40px;
	font-family: 'Share Tech Mono', monospace;
}

input[type=range]{
    appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent !important;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 600px;
    height: 10px;
    background: transparent !important;
    border: none;
	border-radius: 3px;
	cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--main-theme-color);
	margin-top: -4px;
	cursor: pointer;
}

@media screen and (max-width: 505px) {
	#audioTimer {
		padding-left: 110px;
	}
	#audioSlider {
		width: 300px;
	}
	.controlsContainer {
		justify-content: flex-start;
	}
	.middleLine {
		width: 300px;
	}
	.navControl h2 {
		font-size: 20px;
	}
}