@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Roboto+Mono&family=Anton&family=Share+Tech+Mono&family=Pacifico&family=Permanent+Marker&display=swap');

:root {
    --main-theme-color: #1df0de;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    background-color: #1f1f24;
    min-height: 190vh;
    max-height: 190vh;
    overflow: hidden;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid transparent;
}

.preloader {
    position: fixed;
    background-color: #1f1f24;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    align-items: center;
}

.preloader img {
    opacity: 0;
    animation: fadein 3s linear;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50vh; left: 50vw; transform: translate(-50%, -50%);
    z-index: 100;
}

.preloader svg {
    position: fixed;
    top: 50vh; left: 50vw; transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}
  
.stroke-animation {
    animation: stroke-spacing 4.2s ease-in-out;
    animation-direction: forward;
    stroke: var(--main-theme-color);
}

@keyframes fadein {
    0% {opacity: 0;}
    33% {opacity: 0;}
    60% {opacity: 20;}
    100% {opacity: 100;}
}
  
@keyframes stroke-spacing {
    0% {
      stroke-dasharray: 0 200;
    }
    45% {
      stroke-dashoffset: 0;
      stroke-dasharray: 20 0;
    }
    50% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
    100% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
}

.sidenav {
    position: fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 60px;
    z-index: 1;
    top: 0px; left: 0px;
    background-color: #131314;
    overflow: hidden;
    box-shadow: -.1rem 0rem 2rem #000;
}

.lowsidenav {
    margin-bottom: 40px;
}

.sidenav a {
    padding: 30px 8px 15px 10px;
    color: #818181;
    display: block;
}

.lowsidenav a {
    padding: 3px 8px 3px 10px;
    color: #818181;
    font-size: 20px;
}

.sidenav a i {
    font-size: 25px;
}

.lowsidenav a i {
    font-size: 17px;
}

.sidenav a:hover {
    color: var(--main-theme-color);
    text-decoration: none;
    transform: scale(1.2);
    animation: none;
}

.sidenav .lowsidenav a:hover {
    color: var(--main-theme-color);
}

.iconShake {
    animation: wobble 3s linear infinite;
}

@keyframes wobble {
    38%{transform: rotate(0deg); color: #818181;}
    40% {transform: rotate(-6deg); color: var(--main-theme-color)}
    44% {transform: rotate(6deg)}
    48% {transform: rotate(-6deg)}
    52% {transform: rotate(6deg)}
    56% {transform: rotate(-6deg)}
    60% {transform: rotate(6deg); color: var(--main-theme-color)}
    62% {transform: rotate(0deg); color: #818181;}
}

.sidenav img {
    top: -1px; left: -10px;
    width: 79px;
    height: 79px;
    z-index: 1;
    position: fixed;
}

.sidenav h1 {
    top: 80px; left: 3px;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    color: var(--main-theme-color);
    z-index: 100;
    position: fixed;
    border-top: 1.5px solid lightgrey;
}

.navHover a::after {
    content: '';
    font-size: 8px;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.navHover a:first-child::after {
    content: 'HOME';
    margin-left: -26px;
    margin-top: 7px;
}
.navHover a:first-child + a::after {
    content: 'ABOUT';
    margin-left: -28px;
    margin-top: 7px;
}
.navHover a:first-child + a + a::after {
    content: 'PROJECTS';
    margin-left: -35px;
    margin-top: 7px;
}
.navHover a:first-child + a + a + a::after {
    content: 'RESUME';
    margin-left: -30px;
    margin-top: 7px;
}

.navHover a:hover i{
    opacity: 0;
}

.navHover a:hover::after{
    opacity: 1;
}

.mobileNav_Container {
    top:0; right:0;
    position: fixed;
    z-index: 5;
    visibility: hidden;
    outline: none !important;
}

.hamburgerStyle {
    background-color: white !important;
}

.introContainer {
    top: 0; left: 0;
    position: absolute;
    margin: 20vh 0 0 10vw;
    text-align: left;
}

.intro span {
    font-size: 23px;
    display: inline-block;
    font-family: 'Share Tech Mono', monospace;
    word-spacing: -3px;
    color:  var(--main-theme-color);
}

.name {
    font-size: 110px;
    font-family: 'Bebas Neue', cursive;
    color: #e3dfe6;
}

.introBullets {
    font-size: 20px;
    font-family: 'Share Tech Mono', monospace;
    word-spacing: -3px;
    color:  grey;
    white-space: normal;
}

.period {
    color: var(--main-theme-color);
}

#tagcloud {
    margin-top: 10vh;
    margin-left: 40vw;
    overflow: hidden;
}

#tagcloud a{
    font-family: 'Bebas Neue', cursive;
    color: var(--main-theme-color);
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
}

.emailLine {
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 10px;
    z-index: 1;
    top: 0px; right: 20px;
    /* border: 2px solid white; */
}

.topLine {
    border: 1px solid grey;
    border-radius: 10px;
    position: fixed;
    top: 0px; 
    width: 2px;
    height: 40.5vh;
    right: 19px;
    opacity: 50%;
}

.btmLine {
    border: 1px solid grey;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    width: 2px;
    height: 40.5vh;
    right: 18px;
    opacity: 50%;
}

.emailText {
    color: var(--main-theme-color);
    writing-mode: vertical-rl;
    font-family: 'Share Tech Mono', monospace;
}

.emailText:hover {
    color: var(--main-theme-color);
    text-decoration: none;
}

/* ABOUT PAGE */

.animationContainer {
    top: -12vh;
    z-index: -2;
    height: 130vh;
    position: relative;
    overflow: hidden;
}

#paperPlane{
    opacity: 100%;
    width: 110px;
    height: 110px;
    top: 30vh; left:-50px;
    position: absolute;
}

#aboutContainer {
    top: 100vh; left: 20vw;
    position: absolute;
}

.letterContainer{
    width:73px;
    height: 150px;
    display:inline-block;
    overflow:hidden;
    margin-right: -10px;
  }

.onScroll_Letter{
    font-family: fantasy, 'Anton', sans-serif;
    color: white;
    font-size: 110px;
    line-height: 400px;
    position: relative;
    transition: all .25s linear;
}

.onScroll_Second {
    font-family: fantasy, 'Anton', sans-serif;
    color: var(--main-theme-color);
    font-size: 110px;
    position: relative;
    transition: all .25s linear;
}

.letterE {
    margin-left: 10px;
}

.onScroll_Period {
    font-family: fantasy, 'Anton', sans-serif;
    color: white;
    font-size: 110px;
    position: relative;
    transition: all .25s linear;
    margin-top: 18px;
    z-index: 1;
}

.aboutText {
    margin-top: 100px;
    font-size: 20px;
    width: 50vw;
    font-family: 'Share Tech Mono', monospace;
    word-spacing: -3px;
    color:  grey;
    white-space: normal;
    display: flex;
    flex-direction: column;
}

.ytVid {
    margin-top: 20px;
    width: 560px;
    box-shadow: .1rem 0 3rem black;
    border: 2px solid white;
}

@media screen and (max-width: 1200px) {
    .ytVid {width: 350px; height: 200px;}
}

@media screen and (max-width: 1000px) {
    .tagContainer {visibility: hidden;}
    #aboutContainer {
        left: 15vw;
    }
}

@media screen and (max-width: 700px) {
    .sidenav a {font-size: 25px;}
    /* Need !important for sidenav visibility to override js visiblity function */
    .sidenav {visibility: hidden;}
    .mobileNav_Container {visibility: visible;}
    .sidenav a {font-size: 18px;}
    .intro {margin-left: 0px;}
    .emailLine{opacity: 0;}
    #aboutContainer {top: 80vh;}
    .letterContainer {margin-left: -40px;}
    .onScroll_Letter {
        font-size: 50px; 
        line-height: 206px !important; 
        left: 0px !important;}
    .onScroll_Second {
        font-size: 50px;
        line-height: 206px !important;
    }
    .onScroll_Period {visibility: hidden;}
    .aboutText {
        width: 90vw;
        margin-left: -10vw;
        margin-top: auto;
        opacity: 100% !important;
    }
}

@media screen and (max-width: 500px) {
    .name{
        font-size: 80px;
    }
    .intro span {
        font-size: 17px;
    }
    .introBullets {
        font-size: 17px;
    }
}

@media screen and (max-height: 800px) {
    .sidenav {margin-top: 3vw;}
    .lowsidenav {margin-top: -10vw;}
    .topLine {height: 30vh;}
    .btmLine {height: 30vh;}
}

@media screen and (max-height: 800px) {
    body {
        min-height: 200vh;
        max-height: 200vh;
    }
    #aboutContainer {
        top: 100vh;
    }
}