@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Roboto+Mono&family=Share+Tech+Mono&family=Pacifico&family=Permanent+Marker&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #17141d;
    font-family: 'DM Mono', monospace;
}

a {
    text-decoration: none;
}

/* Preloader to prevent load buffering from being seen */

.preloader {
    position: fixed;
    background-color: #1f1f24;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    align-items: center;
}

.section {
    animation-duration: 2s;
}

.preloader img {
    opacity: 0;
    animation: fadein 3s linear;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50vh; left: 50vw; transform: translate(-50%, -50%);
    z-index: 5;
}

.preloader svg {
    position: fixed;
    top: 50vh; left: 50vw; transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}
  
.stroke-animation {
    animation: stroke-spacing 4.2s ease-in-out;
    animation-direction: forward;
    stroke: #1df0de;
}

@keyframes fadein {
    0% {opacity: 0;}
    33% {opacity: 0;}
    60% {opacity: 20;}
    100% {opacity: 100;}
}
  
@keyframes stroke-spacing {
    0% {
      stroke-dasharray: 0 200;
    }
    45% {
      stroke-dashoffset: 0;
      stroke-dasharray: 20 0;
    }
    50% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
    100% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
}

.logo {
    z-index: 2;
    top: 0; left:0;
    position: absolute;
}

#backgroundAnimation {
    z-index: -2;
    position: absolute;
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    top: 0; left: 0; right: 0; bottom: 0;
}

#filter {
    z-index:-1;
    position: absolute;
    width: 60%;
    min-height: 100vh;
    top: 0; left: 0;
    background-color: blue;
    opacity: 10%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    /* IE 5-7 */
    filter: alpha(opacity=10);
    /* Netscape */
    -moz-opacity: 0.1;
    /* Safari 1.x */
    -khtml-opacity: 0.1;
}

#filterShadow {
    z-index: 1;
    position: absolute;
    width: 40%;
    min-height: 100vh;
    top: 0; right: 0;
    background-color: transparent;
    box-shadow: -1rem 0 2rem #000;
}

.card-list {
    top: 25vh; left: 0;
    width: 60%;
    position: relative;
    display: flex;
    padding: 3rem 0rem 3rem 0rem;
    overflow-x: scroll;
    overflow: hidden;
}

/* Card ScrollBar */
.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.headCard {
    height: 350px;
    width: 300px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: linear-gradient(90deg,#1df0de,#cf70ba);
    box-shadow: -1rem 0 2rem #000;
    color: black;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin-right: 10rem;
    margin-left: 3rem;
    position: relative;
}


.card {
    height: 350px;
    width: 300px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 2rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}
.headCard p {
    font-size: 20px;
    color: #575b61;
    text-align: center;
}

.card-header h2 {
    font-size: 23px;
    margin: .25rem 0 auto;
    text-decoration: none;
    background: linear-gradient(90deg,#1df0de,#cf70ba);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border: 0;
    display: inline-block;
    cursor: default;
}

.headCard h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    margin: .25rem 0 auto;
    margin-top: 30%;
    color: black;
}

.descriptionContainer {
    grid-area: auto;
    box-sizing: border-box;
    color: white;
    cursor: default;
}

.description{
    padding-bottom: 20px;
}

.description a{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
    color: #7a7a8c;
    text-decoration: none;
}

.card:hover .description {
    animation: wobble 3s linear;
}
/* Need both declarations for color and wobble
to appear properly specificty reasons */
.card:hover .description a{
    animation: wobble 3s linear;
}

@keyframes wobble {
    38%{transform: rotate(0deg); color: #818181;}
    40% {transform: rotate(-1deg); color: #cf70ba}
    44% {transform: rotate(1deg)}
    48% {transform: rotate(-1deg)}
    52% {transform: rotate(1deg)}
    56% {transform: rotate(-1deg)}
    60% {transform: rotate(1deg); color: #cf70ba}
    62% {transform: rotate(0deg); color: #818181;}
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
    display: inline-block;
    cursor: default;
}

.headCard i {
    color: black;
    font-size: 25px;
    padding: .2rem .5rem .25rem 0rem;
    position: relative;
    display: inline-block;
}

/* Prev and Next Buttons */

.btn-container {
    position: absolute;
    width: 60%;
}

.prev, .next {
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top: 50vh;
    transform: translate(0%, -50%);
    width: auto;
    padding: 20px;
    color: #1df0de;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 10px 10px 0;
    user-select: none;
}
.next {
    right: 0;
    float: right;
    border-radius: 10px 0 0 10px;
}

.prev:hover, .next:hover {
    background: rgba(143, 96, 129, 0.6);
}

@media screen and (max-width: 1400px) {
    .card-list {
        width: 80%;
    }
    #filter {
        width: 80%;
    }
    #filterShadow {
        width: 20%;
    }
    .btn-container {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    #backgroundAnimation {
        visibility: hidden;
        z-index: -5;
    }
    .card-list {
        width: 100%;
        overflow: auto;
        top: 20vh;
    }
    #filter {
        visibility: hidden;
    }
    #filterShadow {
        visibility: hidden;
    }
    .btn-container {
        width: 100%;
    }
}

@media screen and (max-height: 630px) {
    .card-list {
        top: 11vh;
    }
}